* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* BACKGROUND */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../Images/background\ login&register.jpeg") no-repeat center center/cover;
}


/* WRAPPER */
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
}

/* Text */
.welcome-text h1 {
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.welcome-text p {
    font-size: 18px;
    color: white;
    font-style: italic;
    margin-bottom: 20px;
}

/* CARD */
.card {
  width: 360px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

/* TEXT */
.card h3 {
  margin-bottom: 5px;
}

.login-text {
  font-size: 13px;
  margin-bottom: 15px;
}

.login-text a {
  color: #ffd369;
  text-decoration: none;
}

/* INPUT */
.input-group {
  position: relative;
  margin: 10px 0;
}

.input-group i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #7B5233;
  background: rgba(255,255,255,0.7);
  padding: 8px;
  border-radius: 8px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 50px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* BUTTON */
.btn-login {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #f5f5dc;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #674736;
}

.btn-back {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.btn-login a, .btn-back a {
    color: inherit;
    text-decoration: none;
}
